:root {

    /**
   * colors 
   */

    --red-orange-crayola: hsl(0, 100%, 66%);
    --space-cadet: hsl(249, 37%, 19%);
    --pistachio: hsl(88, 50%, 60%);
    --cultured: hsl(220, 13%, 95%);
    --saffron: hsl(45, 91%, 58%);
    --red: rgba(230, 31, 43, 1);
    --rhythm: hsl(240, 9%, 51%);
    --white: hsl(0, 0%, 100%);

    /**
   * typography 
   */

    --fs-1: 46px;
    --fs-2: 28px;
    --fs-3: 18px;
    --fs-4: 15px;
    --fs-5: 14px;

    /**
   * spacing 
   */

    --px: 30px;
    --py: 60px;

    /**
   * others 
   */

    --default-transition: 0.75s ease;

}


*-----------------------------------*\  #RESET \*-----------------------------------*/ *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-offset: 5px;
}

li {
    list-style: none;
}

a {
    font: inherit;
    text-decoration: none;
}

button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

img,
svg,
ion-icon,
span,
button {
    display: block;
}

html {
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: var(--cultured);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--saffron);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--space-cadet);
}


/*-----------------------------------*\ 
  #REUSED STYLE
\*-----------------------------------*/

.btn {
    height: 55px;
    padding: 0 25px;
    color: var(--space-cadet);
    font-size: 14px;
    font-weight: 500;
    transition: var(--default-transition);
}

.btn:hover {
    filter: saturate(1.05) brightness(1.05);
}

.btn-primary {
    background: var(--saffron);
}

.btn-secondary {
    background: var(--cultured);
}

.btn-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-title {
    max-width: 420px;
    color: var(--space-cadet);
    font-size: var(--fs-2);
    font-weight: 600;
}

.section-text {
    max-width: 320px;
    color: var(--rhythm);
    font-size: var(--fs-4);
    line-height: 1.4;
    letter-spacing: 0.5px;
}





/*----------HEADER----------------*/

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Rubik', sans-serif;
}

header {
    position: fixed;

    background-color: #fff;
    padding: 5px 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
}

.container {
    max-width: auto;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    margin-left: 600px;
}

.navbar-nav li {
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f39c12;
}

.logo img {
    width: 150px;
    height: auto;
    margin-left: 50%;
    margin-left: 50%;
}



/*SIGN UP BUTTON*/

.sign-up-pane {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 90px;
    bottom: 200px;
    right: -400px;
    width: 400px;
    height: calc(100vh - 91px);
    background-color: white;
    box-shadow: -1px 2px 3px 0 hsla(0, 0%, 0%, 0.05);
    background-image: url('IMAGE/LOGO/Group%20243.png');
    transition: right 0.5s ease-in-out;
    z-index: 1000;
}


.sign-up-box {
    position: fixed;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    height: calc(100vh - 91px);
    box-shadow: -1px 1px 3px 0 hsla(0, 0%, 0%, 0.05);
    transition: 0.5s ease-in-out;
    z-index: 10;
    overflow-y: auto;

}


.sign-up-pane.active {
    right: 0;
}


.sign-up-form {
    background-color: white;
    top: 50px;
    padding: 20px;
    border-radius: 14px;
    border: 1.5px solid grey;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;

}

.sign-up-form:hover {
    transform: scale(0.96);
}


.sign-up-form h4 {
    font-family: 'Raleway', sans-serif;
    color: rgba(230, 31, 43, 1);
    margin-bottom: 20px;
    font-size: 22px;
}

.sign-up-form label {
    display: block;
    margin-bottom: 10px;
}

.sign-up-form input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
}

.sign-up-form .btn {
    display: block;
    width: 100%;

}

.btn {
    height: 55px;
    padding: 0 25px;
    color: var(--space-cadet);
    font-size: 14px;
    font-weight: 500;
    transition: var(--default-transition);
}

form {
    margin: 0;
    padding: 0;
}

/* Style for label */
.form-group label {
    display: block;
    margin-bottom: 13px;
}

.form-group input {
    padding-left: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    height: 50px;
    box-sizing: border-box;

}

.input-container {
    position: relative;
}

.input-container ion-icon {
    position: absolute;
    left: 10px;
    top: 33%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 20px;
    color: #888;
}




/* --SHOPPING VIEW YOUR ITEM ---- */

.shopping-cart-btn {
    position: relative;
    top: 0px;
    left: 30px;
    background: var(--cultured);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--white);
}


.shopping-cart-btn {
    display: flex;
    flex-direction: column;
    width: 20px;
    grid-column-gap: 10px;
}

.shopping-cart-btn {
    background: var(--space-cadet);
    width: 20px;
    height: 5px;
    border-radius: 2px;
    transition: 0.55s ease;
}

.shopping-cart-btn.active .one {
    transform: translateY(7px) rotate(-45deg);
}

.shopping-cart-btn.active .two {
    transform: rotate(45deg);
}

.shopping-cart-btn.active .three {
    transform: translateY(-7px) rotate(-45deg);
}

.cart-box {
    position: fixed;
    top: 11.5%;
    right: 0;
    background: rgba(255, 255, 255, 0.3);
    max-width: 400px;
    width: 100%;
    height: calc(100vh - 91px);
    background: rgba(255, 255, 255, 0.8);
    /* Adjust the alpha value for transparency */
    box-shadow: -2px 1px 3px 0 hsla(0, 0%, 0%, 0.05);
    transform: translateX(100%);
    visibility: inherit;
    z-index: 10;
    transition: 0.5s ease-in-out;
}

.cart-box.active {
    transform: translateX(0);
    visibility: visible;
}

.cart-box-ul {
    height: 100%;
    padding: 30px;
    padding-bottom: 120px;
    overflow-y: auto;
}

.cart-box-ul::-webkit-scrollbar {
    display: none;
}

.cart-h4 {
    color: var(--space-cadet);
    margin-bottom: 30px;
    font-weight: 600;
}

.cart-item {
    background: var(--red);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 0 28% 28% 0;
}



.cart-item .img-box {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    overflow: hidden;
}

.cart-item .product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--default-transition);
}

.cart-item:hover .product-img {
    transform: scale(2.05);
}

.cart-item .product-name {
    color: var(--space-cadet);
    font-size: var(--fs-5);
    font-weight: 600;
    width: calc(100% - 135px);
}

.cart-item .product-price {
    background: var(--saffron);
    color: var(--space-cadet);
    font-weight: 500;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}

.cart-item .product-price .small {
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
    color: var(--space-cadet);
}


.cart-btn-group {
    background: var(--white);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-top: 12px solid hsla(0, 0%, 0%, 0.1);
    z-index: 15;
    border-radius: 50px 50px 0 0;
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav {
        margin-top: 10px;
        flex-direction: column;
    }

    .navbar-nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


/*-------------HOME ----------------------*/

.home {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    padding: 100px var(--px) var(--py);
}

.home-left {
    text-align: left;
    padding: 30px;
    padding-top: 10%;

}

.home-text {
    color: var(--rhythm);
    margin-bottom: 30px;
    line-height: 1.6;
    padding-right: 10%;
    padding-left: 2%;
}


.home-subtext {
    background: var(--cultured);
    color: var(--space-cadet);
    font-size: 17px;
    display: inline-block;
    padding: 3px;
    margin-left: 4%;
    margin-bottom: 30px;
}


.main-heading {
    color: var(--red);
    font-size: 100px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -2px;
    margin-bottom: 10px;
    font-family: 'Spectral';
    font-style: italic;

}

.main-heading2 {
    color: var(--space-cadet);
    font-size: 60px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -2px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-style: italic;
    font-family: 'Raleway';

}


.home .btn-group {
    margin-top: 8%;
    margin-left: 2%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}



.home-right {
    position: relative;
    padding-top: 110%;
}

.food-img {
    position: absolute;
    width: 100%;
}

.food-1 {
    top: -10%;
    left: -20%;
    animation: scaleUp 3s ease-in-out infinite;
}

.food-2 {
    position: absolute;

    top: 25%;
    left: -5%;
    padding-left: 10%;
    width: 110%;

    animation: scaleUp 2s ease-in-out infinite;
}

.food-3 {
    bottom: -18%;
    left: 3%;
    width: 80%;
    animation: scaleUp 4s ease-in-out infinite;
}

.food-4 {
    top: -1.5%;
    left: 4.6%;
    height: 70%;
}

.dialog {
    position: absolute;
    filter: drop-shadow(0px 2px 46px hsla(0, 0%, 0%, 0.4));
}

.dialog-1 {
    top: 1%;
    right: 80%;
}

.dialog-2 {
    bottom: 20%;
    right: 40%;
}

.shape {
    position: absolute;
    filter: drop-shadow(0px 3px 6px hsla(0, 0%, 0%, 0.1));
}

.shape-1 {
    top: 80%;
    left: 90%;
    animation: scaleUp 2s 3s ease-in-out infinite;
}

.shape-2 {

    right: 10%;
    top: 85%;
    animation: scaleUp 3s 4s ease-in-out infinite;
}

.shape-3 {
    top: -50%;
    right: 80%;
    animation: scaleUp 3s 1s ease-in-out infinite;
}



.shape-4 {
    top: 10%;
    right: 0;
    animation: moveUp 3s 1s ease-in-out infinite;
}

.shape-5 {
    top: 20%;
    left: 94%;
    animation: moveUp 3s ease-in-out infinite;
}


.shape-6 {

    right: 160%;
    top: 25%;
    animation: scaleUp 2s 2s ease-in-out infinite;
}

.shape-7 {
    top: 20%;
    right: 170%;
    animation: scaleUp 2s 2s ease-in-out infinite;
}




@keyframes scaleUp {

    0%,
    100% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-5px) scale(1.05);
    }

}


@keyframes moveUp {

    0%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-3px);
    }

    50% {
        transform: translateY(-8px);
    }

}
